section.download-section
  .download-section__btn-block 
  footer.footer 
    a.footer__phone-wrapper(href="#")  
      img.footer__phone-icon(src="../../img/phone_icon.svg", alt="phone")
    .footer__social-wrapper
      a.footer__ok-wrapper(href="#")
        img.footer__ok(src="../../img/icon_ok.svg", alt="ok.ru")
      a.footer__vk-wrapper(href="#")
        img.footer__vk(src="../../img/icon_vk.svg", alt="vk.ru") 
      a.footer__insta-wrapper(href="#")
        img.footer__insta(src="../../img/icon_insta.svg", alt="insta.ru") 