section.offer-section
  .offer-section__inner-wraper
    img.offer-section__logo(src="../../img/logo.svg", alt="Логотип")
    img.offer-section__img(src="../../img/girl.png", alt="Девушка с телефоном")
    a.btn.offer-section__btn(href="#")| Участвовать
    h1.offer-section__title| ВЫИГРАЙ 4000 РУБЛЕЙ
    p.offer-section__paragraph.
      от «Кузбассэнергосбыта»‎ и
      не плати за электроэнергию
      несколько месяцев!