section.offer-section
  .offer-section__outer-wrapper
    .offer-section__inner-wrapper
      img.offer-section__logo(src="./img/logo.svg", alt="Логотип")
      a.btn.offer-section__btn.title_sm(href="#download-section")| Участвовать
      h1.offer-section__title.title_lg| ВЫИГРАЙ 4000 РУБЛЕЙ
      p.offer-section__paragraph.title_md.
        от «Кузбассэнергосбыта»‎ и
        не плати за электроэнергию
        несколько месяцев!
    img.offer-section__img(src="./img/girl.png", alt="Девушка с телефоном")