section.terms-section
  .terms-section__circle.lg-screen
    .terms-section__content-wrapper
      h3.terms-section__title.title_md
        |С 1 сентября по
        br
        |25 ноября 2021 года
      .terms-section__card-block
        include ../mixins/terms-card.pug
        +terms-card(
          './img/wallet.svg',
          "Передавай показания и оплачивай электроэнергию с помощью мобильного приложения «Платосфера»"
          )
        +terms-card(
          './img/lump.svg',
          'Участвуй в розыгрыше сертификатов на оплату электроэнергии номиналом 4000 рублей'
          )
        +terms-card(
          './img/hand.svg',
          'Подробные условия акции на сайте'
          )
      a.btn.terms-section__btn.paragraph_sm(href="https://www.kuzesc.ru/", target="_blank")| кузбассэнергосбыт.рф
    .terms-section__platosphere
      img.terms-section__logo(
        src="./img/logo_plato.svg",
        alt="Платосфера",
        style="width: 373px; height:373px")
      h2.terms-section__platosphere-title.title_xl| Платосфера
