mixin terms-card(img_url="#", paragraph="test")
  .terms-card
    .terms-card__img-wrap
      img.terms-card__img(src=img_url, alt='Иконка')
    .terms-card__text-wrap
      p.terms-card__paragraph.paragraph_md= paragraph