.btn {
  display: block;
  width: 300px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $white;
  border-radius: 94px;
  transition: 0.3s;
}
