.download-btn {
  display: flex;
  justify-content: space-between;
  width: 506px;
  height: 140px;
  padding: 15px 30px;
  background: $violet-grad;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  &__icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &__qr-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }  
}
