%heading {
  display: inline-block;
  padding: 0;
  color: $white;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
%paragraph {
  display: inline-block;
  padding: 0;
  color: $white;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.title_xl {
  @extend %heading;
  font-size: 4em;
}
.title_lg {
  @extend %heading;
  font-size: 3em;
}
.title_md {
  @extend %heading;
  font-size: 2.5em;
}
.title_sm {
  @extend %heading;
  font-size: 1.5em;
}
.paragraph_md {
  @extend %paragraph;
  font-size: 2em;
}
.paragraph_sm {
  @extend %paragraph;
  font-size: 1.5em;
}
.paragraph_xs {
  @extend %paragraph;
  font-size: 1.25em;
}
